org.codeaurora.uvc.configuration
brightness.default = 0
contrast.default = 5
saturation.default = 5
sharpness.default = 2
antibanding.default = 3
backlight-compensation.default = 0
gain.default = 800
whitebalance-temperature.default = 4600
whitebalance-mode.default = 1
exposure-time.default = 333
exposure-mode.default = 2
focus-mode.default = 1
zoom.default = 100
pan.default = 0
tilt.default = 0
